* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #fef6e4;
    color: #333;
    line-height: 1.6;
  }
  
  .container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  h1 {
    color: #d63230;
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
  }
  
  p {
    margin-bottom: 15px;
    font-size: 1.1em;
  }
  
  .container p:first-of-type::first-letter {
    font-size: 2em;
    color: #d63230;
    font-weight: bold;
  }
  
  img {
    display: block;
    margin: 0 auto;
    max-width: 60%;
    height: auto;
}
